<div class="container">

    <h1>Voyages</h1>

    <!--  interface -->

    <form class="form-inline">
        <div class="form-group">
            <label>Departure Date</label>
            <input type="text"
                class="form-control"
                ng-click="ctrl.isEtdOpen = !ctrl.isEtdOpen"
                uib-datepicker-popup="{{format}}"
                ng-model="ctrl.etd"
                datepicker-options="ctrl.dateOptions"
                is-open="ctrl.isEtdOpen"
            />
        </div>

        <div class="form-group">
            <label>Arrival Date</label>
            <input type="text"
                class="form-control"
                ng-click="ctrl.isEtaOpen = !ctrl.isEtaOpen"
                uib-datepicker-popup="{{format}}"
                ng-model="ctrl.eta"
                datepicker-options="ctrl.dateOptions"
                is-open="ctrl.isEtaOpen"
            />
        </div>
        <div class="form-group tranship">
            <label>Transhipments</label>
        </div>
        <div class="form-group">
            <switch enabled
                name="enabled"
                ng-model="ctrl.trshipEnabled"
                class="green"></switch>
        </div>

        <div class="form-group find-btn">
            <button type="submit"
                class="btn btn-primary"
                ng-click="ctrl.getVoyages(ctrl.etd, ctrl.eta,ctrl.trshipEnabled)">
        Find
        </button>
        </div>

    </form>

    <!-- Display the list of Voyage data -->
    <table st-table="displayedCollection"
        st-safe-src="ctrl.voyages"
        class="table table-striped"
        ng-show="ctrl.voyages.length">
        <thead>
            <tr>
                <!--<th>Date</th>-->

                <th st-sort="startPort.port">Departure
                    Port
                </th>

                <th st-sort="endPort.port">Arrival
                    Port
                </th>
                <th>
                    Vessel
                </th>
                <th>Departure
                    ETA
                </th>
                <!--<th>ETA</th>
                <th>ETD</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="voyage in displayedCollection">

                <td>{{voyage.startPort.port}}</td>
                <td>{{voyage.endPort.port}}</td>
                <td ng-if="!voyage.isTranshipment">
                    {{voyage.startPort.vessel}}
                </td>
                <td ng-if="voyage.isTranshipment">
                    {{voyage.startPort.vessel}}
                    -->
                    {{voyage.endPort.vessel}}
                </td>
                <td ng-if="!voyage.isTranshipment">{{voyage.startPort.eta||'N/A'|
                    date:'medium'}}
                </td>
                <td ng-if="voyage.isTranshipment">{{voyage.startPort.eta||'N/A'|
                    date:'medium'}}
                    -->
                    {{voyage.endPort.eta||'N/A'|
                    date:'medium'}}
                </td>
                <!--<td>{{
                    (voyage.eta
                    |
                    date)
                    ||
                    'N/A'
                    }}
                </td>
                <td>{{
                    (voyage.etd
                    |
                    date)
                    ||
                    'N/A'
                    }}
                </td>-->
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"
                    class="text-center">
                    <div st-pagination=""
                        st-items-by-page="ctrl.itemsByPage"
                        st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>

</div>